<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>663836110072-rdsf1455875voac2bguop0gkv24npoj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663836110072-rdsf1455875voac2bguop0gkv24npoj4</string>
	<key>API_KEY</key>
	<string>AIzaSyCv0gWWEZD0jEUOH8awT0g2ujPLCAAP0NQ</string>
	<key>GCM_SENDER_ID</key>
	<string>663836110072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HKRSF-CSCI321.HKRSF-CSCI321</string>
	<key>PROJECT_ID</key>
	<string>hkrsf-csci321</string>
	<key>STORAGE_BUCKET</key>
	<string>hkrsf-csci321.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663836110072:ios:fd90c875e30016c1</string>
	<key>DATABASE_URL</key>
	<string>https://hkrsf-csci321.firebaseio.com</string>
</dict>
</plist>